@using Kentico.Web.Mvc
@using Kentico.Forms.Web.Mvc

@model MySite.Web.Components.FormSections.ComponentPrefix.NewFormSectionViewModel

<div>
    <h2>@Model.Label</h2>

    <form-zone zone-name="main" />
</div>