name: "CI: Build and Test"

on:
  push:
    branches: [main]
    paths:
      - "**.cs"
      - "**.csproj"
      - "**.props"
      - "**.targets"
      - "**.sln"
  pull_request:
    branches: [main]
    paths:
      - "**.cs"
      - "**.csproj"
      - "**.props"
      - "**.targets"
      - "**.sln"

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json

      - name: Install dependencies
        run: dotnet restore --locked-mode

      - name: Build Solution
        run: dotnet build --configuration Release --no-restore

      - name: Test Solution
        run: dotnet test --configuration Release --no-build --no-restore

      - name: Build Package
        run: |
          cp ./README.md ./src
          dotnet pack ./src/templatepack.csproj -o ./
        shell: pwsh
